.data {
    margin-right: 2em;
    display: inline-block;
    font-size: .8em;
}

.author {
    font-weight: bold;
    display: inline-block;
    font-size: .8rem;
}
.text{
    white-space: pre-wrap;
}

.posts > .alert-secondary:first-child{
    background-color: #b8daff;
}
